.toggle {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border: 1px solid rgba(137, 137, 147, 0.2);
  content: "";
  height: 20px;
  width: 20px;
  left: -6px;
  bottom: -4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #afe1d5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #afe1d5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: #3BA189;
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}