.game-timer-component {
  width: fit-content;
  padding: 12px;

  background: #EDEDED;
  border-radius: 12px;

  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #373745;
}