.status-sign {
  width: 136px;
  height: 32px;
  color: #FFFFFF;
  background: #A8D37F;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
}

.status-sign--blue {
  background-color: #87CAE8;
}

.status-sign--red {
  background-color: #EC7777;
}

.status-sign--green {
  background-color: #A8D37F;
}