.game-board__cell {
  width: 128.33px;
  height: 128.33px;

  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board__cell-green-won {
  background-color: #CFEDE6;
}

.game-board__cell-red-won {
  background-color: #F3BBD0;
}

.game-board__img{
  width: 80%;
}