.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;

  max-width: 352px;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
}

.message-container--other {
  align-self: flex-start;
  border-radius: 16px 16px 16px 0;
}

.message-container--me {
  align-self: flex-end;
  border-radius: 16px 16px 0 16px;
}

.message-container__msg-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.message-container__subject-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.message-container__subject-name--x {
  color: #60C2AA;
}
.message-container__subject-name--zero {
  color: #E38BAC;
}

.msg-header__time{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.25px;
  color: #898993;
}