.add-player-modal-container {
  background: rgba(0,0,0,0.4);
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.add-player-modal{
  display: flex;
  flex-direction: column;
  width: 400px;
  background: white;
  align-items: center;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  padding: 40px 24px;
  box-sizing: border-box;
}

.add-player-modal__age-sex-container {
  align-self: flex-start;
  display: flex;
  column-gap: 40px;
  margin-bottom: 20px;
}

.add-player-modal__close-button {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

.add-player-modal__label {
  font-weight: 500;
  font-size: 16px;
  align-self: flex-start;
  margin-bottom: 8px;
  display: block;
}

.add-player-modal__paragraph {
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}

.sex-label {
  display: inline-block;
  border: 1px solid #DCDCDF;
  border-radius: 50%;
  padding: 8px;
  height: 32px;
  width: 32px;
  margin-right: 8px;
  cursor: pointer;
}

.add-player-modal__age-input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.24px;
  padding: 12px 20px;
  border: 1px solid #DCDCDF;
  border-radius: 12px;
  margin-bottom: 12px;
  width: 100px;
  box-sizing: border-box;
  height: 48px;
}

input[type="radio"]:checked+label {
  background-color: #60C2AA;
}
