.games-history-section {
  margin: 176px auto 50px auto;
  width: fit-content;
  background-color: #FFF;
  padding: 32px 32px 44px 32px;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
  color: #373745;
}

.games-history-section__headline {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.games-history-section__table {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-collapse: collapse;
}

.table__table-head-cell {
  padding-bottom: 12px;
  padding-right: 24px;
  font-weight: 700;
}

.table__table-row {
  border-bottom: #EEEFF5 1px solid;
  border-top: #EEEFF5 1px solid;
  height: 48px;
}

.table__table-data-cell {
  padding-right: 24px;
}

.table-data-cell__bold-sign {
  font-weight: 700;
}

.table__table-data-cell-player {
  display: inline-flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: inherit;
  column-gap: 8px;
  padding-right: 24px;
}

.table-data-cell__img {
  vertical-align: middle;
}