.auth-form-container {
  display: flex;
  justify-items: center;
  height: 100vh;
}

.auth-form {
  background-color: #FFF;
  width: fit-content;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.auth-form__dog-img {
  height: 132px;
}

.auth-form__headline {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}

.auth-form__button {
  margin-top: 8px;
}