.active-players-section {
  margin: 176px auto 50px auto;
  width: fit-content;
  background-color: #FFF;
  padding: 32px 32px 44px 32px;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
  color: #373745;
}

.active-players-section__toggle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-right: 26px;
}

.active-players-section__headline {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
}

.active-players-section__table {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-collapse: collapse;
}

.table__table-head-cell {
  padding-bottom: 12px;
  padding-right: 24px;
  font-weight: 700;
}

.active-players-section__table__table-row {
  height: 72px;
}

.table__table-data-cell {
  padding-right: 0;
}

.table-data-cell__ask-to-play-button {
  background: #60C2AA;
  border-radius: 12px;
  width: 161px;
  height: 48px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.table-data-cell__ask-to-play-button--inactive {
  background-color: #F7F7F7;
  color: #373745;
}