.block-unblock-button {
  width: 174px;
  height: 40px;
  background: #F7F7F7;
  border-radius: 8px;
  text-align: center;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  color: #373745;
}