.game-step-component{
  width: 370px;
  padding: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #373745;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 12px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  height: 30px;
}