.button-component {
  padding: 12px 20px;
  background-color: #60C2AA;
  border-radius: 12px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}

.button-component--width-full {
  width: 100%;
}

.button-component--green {
  background-color: #60C2AA;
}

.button-component--grey {
  background-color: #F7F7F7;
  color: #373745;
}

.button-component--inactive {
  background: rgba(96, 194, 170, 0.3);
}