.won-modal-container {
  background: rgba(0,0,0,0.4);
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.won-modal {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: white;
  align-items: center;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  padding: 40px 24px;
  box-sizing: border-box;
}

.won-modal__paragraph {
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}

.won-modal__new-game-button {
  margin-bottom: 12px;
}