.input-component {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.24px;
  padding: 12px 20px;
  border: 1px solid #DCDCDF;
  border-radius: 12px;
  margin-bottom: 12px;
  width: 352px;
  box-sizing: border-box;
  height: 48px;
}

.input-component::placeholder {
  color: #B1B1B7;
}

.input-component--error {
  border: 1px solid #E93E3E;
  margin-bottom: 2px;
}

.input-component__error-message {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.25px;
  color: #E93E3E;
  align-self: flex-start;
  margin: 0 0 12px;
}