.subject-list-component {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  width: 190px;

  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 20px;
}

.subject-list-component__headline {
  font-weight: 700;
  font-size: 21px;
  line-height: 150%;

  color: #373745;
  margin: 0;
}

.subject-list-component__container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 20px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.subject-list-component__subject-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.subject-container__subject-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.15px;
  color: #373745;
}

.subject-container__subject-percent {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.25px;
  color: #898993;
}

.subject-list-component__subject-icon {
  width: 24px;
  height: 24px;
}

.subject-list-component__subject-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 4px;
}