.users-list-section {
  margin: 176px auto 50px auto;
  width: fit-content;
  background-color: #FFF;
  padding: 32px 32px 44px 32px;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
  color: #373745;
}

.users-list-section__headline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.users-list-section__headline {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.headline-container__button {
  width: 173px;
  height: 48px;
  background: #60C2AA;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  border: none;
  cursor: pointer;
}

.users-list-section__table {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-collapse: collapse;
}

.table__table-head-cell {
  padding-bottom: 12px;
  padding-right: 24px;
  font-weight: 700;
}

.table__table-row {
  border-bottom: #EEEFF5 1px solid;
  border-top: #EEEFF5 1px solid;
  height: 48px;
}

.table__table-data-cell {
  padding: 12px 24px 12px 0;

}

.table__games-won {
  color: #69B849;
}

.table__games-lost {
  color: #E93E3E;
}