.main-container {
  margin-top: 64px;
  padding: 70px 40px;
  display: flex;
  justify-content: space-between;
  min-width: 950px;
}

.game-container {
  width: 663px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.game-container__game-board {
  width: 393px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 4px;
}

.game-board__cell {
  width: 128.33px;
  height: 128.33px;

  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board__img{
   width: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 0;
  margin-bottom: 88px;
  gap: 20px;

  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
}

.chat-container__msgs-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 12px;
}

.chat-container__msg-interactive-elements {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 12px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

.msg-interactive-elements__button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;

  width: 48px;
  height: 48px;

  background: #60C2AA;
  border-radius: 12px;
}

.msg-interactive-elements__textarea{
  resize: none;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  height: 48px;
  max-height: max-content;
  overflow: hidden;
  box-sizing: border-box;

  padding: 12px 20px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #DCDCDF;
  border-radius: 12px;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
}
